$body-bg:#F2F2F2;
$body-color:#6b7280;
$font-size-base:0.9rem;
$input-btn-padding-x:1.3rem;
$input-btn-padding-x-lg:1.2rem;
$primary:#7E0015;
$danger:#ff4136;
$font-family-base: 'Zen Kaku Gothic New', sans-serif;
@import "bootstrap/bootstrap.scss";

body{
  margin:0;
}

.login-form {
    width: 300px;
}

.min-w-100 {
    min-width:100px;
}

.mymessage{
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #FF6E31;
}

.othermessage{
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-bg{
  background-color: #DDFFDD;
}

