$body-bg:#F2F2F2;
$body-color:#6b7280;
$font-size-base:0.9rem;
$input-btn-padding-x:1.3rem;
$input-btn-padding-x-lg:1.2rem;
$primary:#7E0015;
$danger:#ff4136;
$font-family-base: 'Zen Kaku Gothic New', sans-serif;
@import "bootstrap/bootstrap.scss";

body{
  margin:0;
}

.login-form {
    width: 300px;
}

.min-w-100 {
    min-width:100px;
}

.mymessage{
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #FF6E31;
}

.othermessage{
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-bg{
  background-color: #DDFFDD;
}


#g-nav{
  position:fixed;
  z-index:99;
  top:0;
  right:-120%;
  width:100%;
    height:100vh;
  background-color: #FFFF;
  transition: all 0.6s;
}

#g-nav.panelopen{
  right:0;
  overflow: hidden;
}

#g-nav ul{
  position: absolute;
  z-index:99;
  padding: 0;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  
}

#g-nav li{
  list-style:none;
    text-align:center;
    margin-bottom: 20px;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing:0.1em;
  font-weight: bold;
  
}

.openbtn {
    position:relative;
    z-index:999;
    background-color: transparent;
    border: none;
    padding: 0;

}

.burger-inline {
  background-color: #007bff;
  width: 35px;
  height: 2px;
  display: block;
  margin-top: 9px;
}

body.overflow-hidden {
  overflow: hidden;
}

.logo{
  position:relative;
  z-index:999;
}




